pizzeria-app/.metadata
pizzeria-app/.recommenders
pizzeria-app/.settings
pizzeria-app/pizzeria-dao/.settings
pizzeria-app/pizzeria-model/.settings
pizzeria-app/RemoteSystemsTempFiles
pizzeria-app/Servers
